extends ../layout

block content
  ul.small-block-grid-1.large-block-grid-2.small-centered.columns.post
    each artwork in artworks
      li
        a.row.username(href="http://www.reddit.com/r/" + artwork.subreddit + "/comments/" + artwork.link_id.slice(3, artwork.link_id.length - 1) + "/x/" + artwork.id)
          if artwork.url.match(/(imgur)/)
            img.th(src=artwork.url.slice(0, artwork.url.length - 4) + "l" + artwork.url.slice(artwork.url.length - 4, artwork.url.length))
          else
            img.th(src=artwork.url)
        a.row.username(href="http://www.reddit.com/u/" + artwork.author)=artwork.author
